<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Vocalet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="./stylesheets/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="./stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="./stylesheets/main.css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">

    </head>
    <body>
        <section class="container">
            <nav class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a href="/" class="brand"><img id="logo" src="/images/logo-small.png">Vocalet</a>
                    </div>
                </div>
            </nav>
        </section>
        <section class="section-box">
            <div class="container">
                <div class="row">
                    <header class="highlight span12">
                        <h2>find songs <strong style="font-size: 40px">YOU</strong> sing best</h2>
                        <h4>Vocalet makes you a better singer by recommending songs that match your vocal range.</h4>
                    </header>
                </div>
                <div class = "row container">
                    <div class = "span7" id= "leftColHeader">
                        <img id="feature-screenshot" src="/images/bg3rz.png" alt="screenshot" class = "pull-right">
                    </div>

                    <div class = "span4 well" id= "rightColHeader">
                        <h2>Coming<strong> Soon</strong></h2>
                      <button class = "btn btn-primary center" onClick="parent.location='http://launch.vocalet.com/'">
                                    <h4>Sign up early here</h4>
                                </button>
                      </div>
                </div>
            </div>
        </section>
        <section class="section-box" style= "background-color: #FF0A0">
            <div class="container">
                <header class="highlight span11 offset 1">
                    <h3 style="text-align: right"><i class="icon-quote-left icon-4x pull-left icon-muted"></i> Vocalet gets your vocal range, and recommends songs <br/> that <strong>you sound great singing</strong>. </h3>
                </header>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="row">
                    <article class="span4 center-align">
                        <p>
                            <i class="icon-music icon-3x"></i>
                        </p>
                        <h3>Learn How To Sing</h3>

                         <p class="remarks"> <strong> Singing is beautiful. </strong>Learning how to sing on the internet is slow, and frustrating. Vocalet simplifies the learning process and makes singing fun and enjoyable.
                        </p>
                    </article>
                    <article class="span4 center-align">
                        <p>
                            <i class="icon-star icon-3x"></i>
                        </p>
                        <h3>Sound Great</h3>
                        <p class = "remarks">
                            At the heart of Vocalet lies the idea that <strong>each singing voice is unique</strong>. People sound best singing when they sing songs that are well suited to their vocal range. With Vocalet, it has never been easier.
                        </p>

                        <p>

                        </p>
                    </article>
                    <article class="span4 center-align">
                        <p>
                            <i class="icon-globe icon-3x"></i>
                        </p>
                        <h3>Become a star</h3>
                        <p class = "remarks">
                           Vocalet provides you with the <strong>tools to practice singing</strong>. With Vocalet, you can sing karaoke versions of songs, view lyrics of songs as they play, and hear covers for artistic inspiration.
                        </p>
                    </article>
                </div>
            </div>
        </section>
        <footer class="container footer-box">
            <nav class="links">
                <a href="#">Coming in March 2013</a>
            </nav>
            <p>
                Vocalet 2013 | Made by Pranav Rajpurkar and Vincent Su
            </p>
        </footer>
        <script src="./javascripts/vendor/jquery-1.9.1.min.js"></script>
        <script src="./javascripts/vendor/bootstrap.min.js"></script>
    </body>
</html>


