!!! 5
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title Vocalet
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='/images/background.jpg', rel='image_src')
		link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
		link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/font-awesome.min.css')
		link(href='stylesheets/fonts.css', rel='stylesheet')
		link(rel='stylesheet', href='stylesheets/common.css')
		block extralinks

	body
		#wrap
			section#top
				.navbar
					.container
						.navbar-inner
							a.brand(href='/')
								img#logo(src='images/logo.png')
								| Vocalet
			block content
		#footer-box.navbar-static-bottom
			| Vocalet 2014 | Made by Pranav Rajpurkar and Vincent Su
			
		script(src='/javascripts/jquery-1.9.1.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src''/javascripts/analytics.js')
		block extrascripts