extends common
block extralinks
	link(rel='stylesheet', href='stylesheets/groove.css')

block content
	section.main
		.container
			.row#main-row
				#right.col-md-6.col-md-push-6
					h2#cur Playing Right Now...
					h1#current
					#player
					if dj
						button#signup#btny.col-md-12.btn-primary(type='submit')
							h2| Next
				#left.col-md-6.col-md-pull-6
					form
						textarea#imp
							|Hey
block extrascripts
	script(src="http://mobwrite3.appspot.com/static/compressed_form.js")
	script.
		mobwrite.syncGateway = 'http://mobwrite3.appspot.com/scripts/q.py';
		$(document).ready(function(){
			mobwrite.idPrefix = 'woah';
			mobwrite.nullifyAll = false;
			mobwrite.timeoutInterval = 3000000;
			mobwrite.share('imp');
		});
	script(src="http://www.youtube.com/player_api")
	script(src="/socket.io/socket.io.js")
	if dj
		script(src='javascripts/groove2.js')
	else
		script(src='javascripts/groove.js')
