extends layout
block extralinks
	link(rel='stylesheet', href='stylesheets/login.css')

block content
	section#masthead.section
		.container
			.row(style='padding-top: 100px;')
				.span5
					#goal
						h2(style='font-size: 80px; text-align: left; font-weight: 100; color: #fff;') Vocalet
						h2(style='font-size: 30px; text-align: left; font-weight: 100; color: #fff;')
							| Explore new songs to sing along to
			.row(style='padding-top: 20px;')
				.span5
					form(action='/main')
						button#signup#btny.col-md-5.btn-primary(type='submit')
							h1 Start
	section#bottom.section
		.container
			.row.layer
				.col-md-5
						iframe#youframe(type='text/html', height='300', width='100%', src='http://www.youtube.com/embed/LPoLC1uTH9w?autoplay=0&controls=0&showinfo=0&autohide=1&loop=0&rel=0&iv_load_policy=3;wmode=transparent&enablejsapi=1&modestbranding=0&html5=1&amp', frameborder='0')
				.col-md-7
					.row
						h2(style='text-align: right;') Singing is Awesome | Personal | Powerful
						p(style='text-align: right; font-size: 18px; font-weight: 100px;')
							| Never miss a beat with Vocalet.
				

	block extrascripts
		script(src='./javascripts/login.js')
