extends common
block extralinks
	link(rel='stylesheet', href='stylesheets/login.css')

block content
	section#masthead.section
		.container
			.row(style='padding-top: 100px;')
				.span5
					#goal
						h2#title Vocalet
						h2#subtitle
							| Explore new songs to sing along to
			.row(style='padding-top: 20px;')
				.span5
					form(action='/main')
						button#signup#btny.col-md-5.btn-primary(type='submit')
							h1 Start
	section#bottom.section
		.container
			.row
				.col-md-6
						iframe#youframe(type='text/html', height='300', width='100%', src='http://www.youtube.com/embed/LPoLC1uTH9w?autoplay=0&controls=0&showinfo=0&autohide=1&loop=0&rel=0&iv_load_policy=3;wmode=transparent&enablejsapi=1&modestbranding=1&html5=1&amp', frameborder='0')
				.col-md-6
					.row
						h2#caption.
							Singing is Awesome, Powerful, Personal
						p#subcaption
							| Never miss a beat with Vocalet.
block extrascripts
	script(src='/javascripts/login.js')
