<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Vocalet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
    </head>
    <body>
        <section class="container">
            <nav class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a href="/" class="brand"><img id="logo" src="/images/logo-small.png">Vocalet</a>
                        <ul class="nav pull-right">

                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                    <form method='post' action='verify'>
                                        <input type="text" class="span2" name="email" placeholder="Login">
                                        <input type="text" class="span2" name="password" placeholder="Password">
                                        <input type="submit" value="Login" class="btn btn-primary"/>
                                    </form>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </section>
        <section class="section-box">
            <div class="container">
                <div class="row">
                    <header class="highlight span12">
                        <h2>find songs <strong style="font-size: 40px">YOU</strong> sing best</h2>
                        <h4>Vocalet makes you a better singer by recommending songs that match your vocal range.</h4>
                    </header>
                </div>
                <div class = "row">
                    <div class = "span8" id= "leftColHeader">
                        <img id="feature-screenshot" src="ledzep.png" alt="screenshot" class = "pull-right">
                    </div>
                    <div class = "span3" id= "rightColHeader">
                        <h1>Sign Up</h1>
                        <h4>Simply Enter Your Email</strong></h4>
                        <form id=".form-horizontal signupForm" method='post' action='addUser'>
                            <div class="controls email">
                                <input type="email" id="signupEmail" name="email" class = "input-large search-query span3" required= "required" value="" data-err-req-message="Please enter Email." />
                            </div>
                            <h4>And Your Password</strong></h4>
                            <div class="controls password ">
                                <input type="password" id="signupPassword" name="password" class = "input-large search-query span3" required="required" data-err-req-message="Please enter Password."/>
                            </div>
                            <p></p>
                            <div class="controls">
                                <button class = "btn btn-primary">
                                    Become a Rockstar
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <header class="highlight span12">
                    <h3><i class="icon-quote-left icon-4x pull-left icon-muted"></i> All you have to do is record a sample. Vocalet analyzes your voice, and recommends songs that <strong>you sound great singing</strong>. </h3>
                </header>
            </div>
        </section>
        <section class="section-box">
            <div class="container">
                <div class="row">
                    <article class="span4 center-align">
                        <p>
                            <i class="icon-music icon-3x"></i>
                        </p>
                        <h3>Learn How To Sing</h3>
                        <p>
                            Becoming a star has never been easier
                        </p>
                    </article>
                    <article class="span4 center-align">
                        <p>
                            <i class="icon-star icon-3x"></i>
                        </p>
                        <h3>Free</h3>
                        <p>
                            Get Vocal Lessons for free.
                        </p>
                        <p>

                        </p>
                    </article>
                    <article class="span4 center-align">
                        <p>
                            <i class="icon-globe icon-3x"></i>
                        </p>
                        <h3>Online</h3>
                        <p>
                            Vocal training is now only a single click away.
                        </p>
                    </article>
                </div>
            </div>
        </section>
        <footer class="container footer-box">
            <nav class="links">
                <a href="#">About Us</a>
                <a href="#">Donate</a>
            </nav>
            <p>
                Vocalet 2013 | Made by Pranav Rajpurkar and Vincent Su
            </p>
        </footer>
        <script src="/javascripts/vendor/jquery-1.9.1.min.js"></script>
        <script src="/javascripts/vendor/bootstrap.min.js"></script>

    </body>
</html>
