extends common
block extralinks
	link(rel='stylesheet', href='stylesheets/main.css')

block content
	section#content-section
		.container
			.row
				#right-col.col-sm-4.col-sm-push-6
					#prompt
						h3 Please choose a song:
					#youtubeFrame.embed-responsive.embed-responsive-16by9.hidden
					#youtubeOptions.hidden
						#options
							.youNav
								p Lyrics
							#lyrics
							.clearfix
							.youNav
								p Karaoke
							#karaoke
							.clearfix
							.youNav
								p Covers
							#covers
							.clearfix
				#left-col.col-sm-4.col-sm-offset-2.col-sm-pull-4
					#recSongDisplay
						form#searchform(action='/search', method='get')
							#header-src-wrap.input-group.input-group-lg
								input#searchsong.form-control(type='search', name='c', autocomplete='off')
								span.input-group-btn
									button#searchbutton.btn.btn-default(type='submit')
										span.glyphicon.glyphicon-search
						ul#songsList.nav.nav-tabs.nav-stacked
							each result in results
								li.recommendationSelection=result
block extrascripts
	script(src='javascripts/main.js')
	script.
		window.song="#{song}";
