html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body{
	border-top: 5px solid #D84A38;
	background: rgb(254, 254, 254);
	font-family: 'Open Sans', sans-serif;
	text-shadow: none;
}

h1,h2,h3,h4,p, a{
	font-weight: 100 !important;
}


#shmp{
	color: #eee;
}


#logo {
	height: 25px;
	margin-right: 5px;
}

.red {
	color: #ff2525;
}

a:link, a:visited, a:hover {
	color: rgb(255, 37, 37);
}

.navbar {
	margin: 0 0 5px;
	padding-top: 17px;
	padding-bottom: 3px;
}

.navbar-inner {
	min-height: 20px;
	border: none;
	background: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	filter: none;
}

.navbar .brand {
	color: rgb(255, 37, 37);
	font-size: 24px;
	padding: 0;
	margin-left: 0;
}

.navbar .nav {
	float: right;
	display: inline-block;
}

#footer-box {
	background: rgb(50, 50, 50);
	text-align: right;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
}

#youtubeFrame {
	margin-bottom: 0px;
}

.recommendationSelection{
	border-bottom: 1px solid #ddd;
}

#content-section {
	padding: 30px 0px;
	background-image: url('../images/pattern.png');
	background-repeat: repeat;
	min-height: 100%;
}

.contents {
	margin-right: 30px;
	margin-left: 30px;
}

#songsList {
	background-color: rgba(255,255,255,0.8);
}

.leftopts{
	font-size: 20px;
}

#youtubeOptions {
	margin-top: 20px;
}

.nav-tabs.nav-justified > li{
	background: #eee;
}

.youNav {
	font-size: 30px;
}

.youtubeSelection {
margin-top: 0px;
padding: 10px 10px;
cursor: pointer;
background-color: rgb(245,245,245);
border-top: 1px solid #eee;
}
.youtubeSelection:hover {
	background-color: rgb(228, 228, 228);
}

.yttitle{
	font-size: 18px;
}

.nav-tabs.nav-stacked > li > a {
	color: #555555;
}

.nav-tabs.nav-stacked > li > a:hover {
	background: rgb(255, 37, 37);
	opacity: 0.8;
	color: #fff;
}

.nav-tabs.nav-stacked > .active > a {
	background: rgb(255, 37, 37);
	opacity: 1;
	color: #fff;
}

.pull-left, media-object{
	width: 170px;
	height: 100px;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
	border-radius: 36px;
	}

#searchbutton{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#searchform{
	margin: 20px 0px;
}

#choose{
	font-size: 30px;
}
