.recommendationSelection{
	border-bottom: 1px solid #eee;
	line-height: 2.0em;
	font-weight: 300;
	font-size: 12px;
}

#options{
	padding: 0px;
}

#content-section{
	padding-bottom: 50px;
}

.leftopts{
	font-size: 20px;
}

#left-col{
	padding-bottom: 60px;
}

#youtubeOptions {
	margin-top: 20px;
}

.nav-tabs.nav-justified > li{
}

.youNav {
	font-size: 20px;
	margin-top: 10px;
}

#right-col, #left-col{
    padding-top: 20px;
}

.youtubeSelection {
	padding: 0px 0px;
	margin: 0px;
	cursor: pointer;
}
.youtubeSelection:hover {
	background-color: rgb(228, 228, 228);
}

.yttitle{
	font-size: 13px;
	font-weight: 300;
}

.nav-tabs.nav-stacked > li > a {
	color: #555555;
}

.nav-tabs.nav-stacked > li > a:hover {
	background: none;
	border: none;
}

.pull-left, media-object{
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
	border-radius: 0;
	}

#searchbutton{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#searchform{
	margin-bottom: 10px;
}
#songsList > li{
	cursor: pointer;
}

#songsList > li:hover, #songsList > .active{
	font-weight: 400;
}